body {
    padding-bottom: 5em;
}

#hidden {
    display: none;
}

div.eclass {
    border: 1px solid #ccc;
    padding: 2px;
    margin: 1px;
    padding-right: 0;
    margin-right: 0;
    background-color: #eee;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

div.term {
    border: 1px solid #ccc;
    padding: 1px;
    margin: 1px;
    background-color: #fff;
    flex: 0 1 auto;
}

.activated:not(:has(.activated)) {
    background-color: green;

}

.toolbutton {
    cursor: pointer;
}

.eclass_name {
    font-size: 0.8em;
    color: #666;
}

.bottom-toolbox {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}


.bottom-textbox {
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin: 0 auto;
    display: block;
}