
name: sealir_prtester

on:
  pull_request:

jobs:
  linux-64-build:
    name: linux-64-build
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -elx {0}
    strategy:
      matrix:
        python-version: ["3.12"]
      fail-fast: true

    steps:
      - name: Clone repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@505e6394dae86d6a5c7fbb6e3fb8938e3e863830 # v3.1.1
        with:
          auto-update-conda: false
          auto-activate-base: true

      - name: Install conda-project
        run: conda install conda-project

      - name: Build
        run: |
          conda project install -n dev

      - name: Run tests
        run: |
          conda activate ./envs/dev
          pytest sealir -v

      - name: Run MyPy
        run: |
          conda activate ./envs/dev
          mypy sealir
